#gallery img{
width:300px;
height:220px;
object-fit:cover;
border-radius:10px;
margin-top:20px;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:70px;
    height:70px;
    object-fit:contain;
}

.logo h1{
    color:white;
    font-size:28px;
    margin:0;
}
